<div class="container">
  <div class="card">
    <div class="card-header">
      Elimniar
    </div>
    <div class="card-block">
      <p class="card-text" style="font-family: Trebuchet MS;">
      ¿Estás seguro que deseas eiliminar a la persona?
      </p>
    </div>




    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-danger" type="button"(click)="onSi()" >Si</button>
      <button class="btn btn-secondary" type="button"(click)="onNo()" >No</button>
    </div>

  </div>
</div>
