<div class="container d-grid gap-2 col-6 mx-auto" *ngIf="producto">

  <form class="row g-3"  novalidate #f="ngForm">

    <div class="col-md-12">
      <label for="inputNombre" class="form-label">id:</label>
      <input type="text" class="form-control" id="idProducto" [(ngModel)]="producto.idProducto" name="idProducto" placeholder="idProducto"
        required disabled>
    </div>

    <div class="col-md-12">
      <label for="inputNombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre"
        required>
    </div>



    <div class="col-12">

      <label for="inputAddress" *ngIf="colorLabel" class="form-label">Precio:</label>

      <label for="inputAddress" *ngIf="!colorLabel" class="form-label bg-danger"> (No puede ser menor que 0)
        Precio:</label>

      <input type="number" class="form-control" id="precio" [(ngModel)]="producto.precio" name="precio" placeholder="0" min="0"
        required>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-success" [disabled]="!f.valid" (click)="onUpdate()">
        <i class="far fa-save"></i>
        Actualizar
      </button>
    </div>
  </form>

</div>
